{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <h1>Write Stories</h1>
    <form method="post" class="mt-3" enctype="multipart/form-data">
      {% csrf_token %}         
      {{ form | crispy }}
      <button type="submit" class="btn-submit btn-lg mt-3" name="save" value="draft">Save</button>
      <button type="submit" class="btn-submit btn-lg mt-3 btn-right submit-post" name="submit" value="complete">Submit for evaluation</button> 
    </form>
  </div>
</div>
<script>
  // Confirm before submitting the post
  const SUBMIT_POST = "After submitting the post, you won't be able to edit " + \
                      "or delete the post.  Would you like to proceed?"
  $('.submit-post').click(function() {
    return confirm(SUBMIT_POST);
  });
</script>
{% endblock content %}