{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <legend>Write Stories</legend>
    <form method="post" class="mt-3" enctype="multipart/form-data">
      {% csrf_token %}         
      {{ form | crispy }}
      <button type="submit" class="btn-submit btn-lg mt-3" name="save" value="draft">Save</button>
      <button type="submit" class="btn-submit btn-lg mt-3 ml-5" name="submit" value="complete">Submit for evaluation</button> 
    </form>
  </div>
</div>
{% endblock content %}