{% extends "base.html" %}

{% block content %}
<!-- intro -->
<div class="d-flex justify-content-center">
  <h1 class="align-self-center">ecopost</h1>
  <img src="/media/blue-earth.jpeg" alt="blue and green earth" class="earth">
</div>
<div class="d-flex justify-content-center">
  <div class="intro-box mt-2">
    <hr>
    <p>Feel like individuals can't do much?  Don't give up.  This website is
        for anyone who wants to find out what some local communities
        and individuals all over the world are doing to tackle the issue, or more
        generally, to save the environment.  Read their stories,
        get inspired, write comments to the posts and share your stories.
        You can get connected with those who are taking actions, join their activities
        if you are in the region, or start up your own movements.
    </p>
    <hr>
  </div>
</div>
<div class="d-flex justify-content-center mt-5">
  <div class="content">
    <h2>Featured Stories</h2>
    <div class="row posts">
      {% for post in post_list %}
        <div class="col-md-4">
          <div class="image-wrapper d-flex justify-content-center">
            {% if "placeholder" in post.featured_image.url %}
              <img class="card-img-top " src="/media/default.jpg" alt="forest graphic">
            {% else %}
              <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}
          </div>
          <div class="mx-2 mt-2 post-text">
            <span><strong>{{ post.title }}</strong></span><br>
            <span>By {{ post.author }}</span>
            <div class="d-flex justify-content-end">
              <span>city, country {{ post.pub_date }}</span>
            </div>
            <p class="mt-1 excerpt">{{ post.excerpt }}</p>
            <a href="{% url 'detail_page' post.slug %}">Read the full story</a>
          </div>
          <hr class="line">
        </div>
      {% empty %}
        <p>No posts</p>
      {% endfor %}
        <div class="more-posts">
          <a href="{% url 'more_stories' %}"><p>More stories from this week &raquo;</p></a>
          <a href="{% url 'popular_stories' %}" class="link-to-favorites">
            <p>Readers' favorite stories of all time &raquo;</p>
          </a>
        </div>
    </div>
  </div>
</div>
{% endblock %}