{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <h1 class="mt-3">{{ post.title }}</h1>
  </div>
  <div class="row mt-3">
    <p>Written by {{ post.author }}{{ post.created_on|date:'M d, Y' }}</p>
  </div>
  <div class="row">
    <div class="col-md-5">
      {% if "placeholder" in post.featured_image.url %}
        <img src="media/default.jpg" width="100%">
      {% else %}
        <img src="{{ post.featured_image.url }}" width="100%">
      {% endif %}
    </div>
    <div class="col-md-7">
      <p>
        {{ post.content | safe }}
      </p>
    </div>
  </div>
  <!-- likes -->
  <div class="row">
    <div class="col-lg-4">
      <strong>
      {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
          {% csrf_token %}
          {% if liked %}
            <button type="submit" name="'blogpost_id" value="{{post.slug}}" class="btn">
              <i class="fa-solid fa-heart"></i>
            </button>
          {% else %}
            <button type="submit" name="'blogpost_id" value="{{post.slug}}" class="btn">
              <i class="fa-regular fa-heart"></i>
            </button>
          {% endif %}
        </form>
      {% else %}
        <span class="text-secondary"><i class="far fa-heart"></i></span>
      {% endif %}
        <span class="text-secondary">{{ post.number_of_likes }}</span>
      </strong>
    </div>
      <!-- Comments section if the post has been published --> 
     
      {% if post.status == 2 %}  
      <div class="row">
        <div class="col-md-7">
          <h3 class="my-5">Comments</h3>
          <div class="col-10 position-relative">
            {% for comment in comments %} 
              {{ comment.name }}
              <span class="position-absolute end-0">{{ comment.created_on|date:'M d, Y' }}</span>
              {{ comment.body | linebreaks }}  
            <hr/>  
            {% empty %}
              <p>No comments</p>        
            {% endfor %}
          </div>
        </div>
        <div class="col-md-5">
          {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form | crispy }}
              {% csrf_token %}
              <button type="submit" class="btn-submit btn-lg mt-3">Submit</button>
            </form>
          {% else %}
            <p>To leave comments,
              <a href="{% url 'account_login' %}">Log In</a>
              or
              <a href="{% url 'account_signup' %}">Become a member</a>
            </p>
          {% endif %}
        </div>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}