{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container form-section">
  <div class="row">
    <h1>Update your story</h1>
    <form method="POST" class="submit-post-form mt-3" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="mt-3">
        <p>By clicking 'Submit' you'll submit the draft to be evaluated for publication.</p>
        <div class="update-post-btns">
          <button type="submit" class="btn-submit" name="save" value="draft">Save changes</button>
          <button type="submit" class="btn-submit item-right submit-post" name="submit" value="complete">Submit</button>
          <a href="{% url 'detail_page' slug %}" class="item-right update-btns cancel">Cancel Update</a>
        </div> 
      </div>
    </form>
  </div>
  <div class="padding-bottom"></div>
</div>
{% endblock content %}
