{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<!-- intro -->
<div class="container">
  <div class="row">
    <legend>Update your story</legend>
    <form method="POST" class="mt-3" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="mt-3">
        <button type="submit" class="btn-submit btn-lg mt-3" name="save" value="draft">Save</button>
        <button type="submit" class="btn-submit btn-lg mt-3 ml-5" name="submit" value="complete">Submit for approval</button> 
      </div>  
    </form>
  </div>
</div>
{% endblock content %}
